<!DOCTYPE html>
    <html lang="eng">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE-edge">
            <meda name="viewport" content="width-device-width, initial-scale=1.0"></meda>
            <title>Document</title>
        </head>
        <body>
            <tbody style="text-align: center;">
                <tr>
                    <td>
                        <div style="font-size:36px;font-weight:bold;">
                            <h1>Hello, World!</h1>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <form>
                                <label for="holidaySelect">Choose a holiday:</label>
                                <select id="holidaySelect" name="holiday">
                                    <option value="Pesach">Pesach</option>
                                    <option value="Shavuos">Shavuos</option>
                                    <option value="Rosh HaShanah">Rosh HaShanah</option>
                                    <option value="Yom Kippur">Yom Kippur</option>
                                    <option value="Sukkos">Sukkos</option>
                                    <option value="Shemini Atzeres">Shemini Atzeres</option>
                                    <option value="Simchas Torah">Simchas Torah`</option>
                                    <option vlaue="Chanukah">Chanukah</option>
                                    <option value="Tu Bishvat">Tu Bishvat</option>
                                    <option value="Purim">Purim</option>
                                </select><br/>
                                <input type="reset" value="Reset"/>
                                <input type="submit" value="Go!">

                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </body>
    </html>
</html>