                </td>
                <td class="body__cell--sidebar">

                </td>
            </tr>
        </table>
        <table class="footer__table">
            <tr class="footer__table-row">
                <td class="footer__cell--main">
                    Copyright Code Kevudah 2024
                </td>
            </tr>
        </table>
    </body>
</html>