<body>
    <table align="center" border="0" cellpadding="1" cellspacing="0" style="width:80%">
        <tbody style="text-align: center;">
            <tr>
                <td>
                    <div style="font-size:36px;font-weight:bold;">
                        <h1>Learn about the Jewish holidays!</h1>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>