<body class="style-general">
    <table class="header__table">
        <tr class="header__table-row">
            <td class="header__table-cell--logo">
                <a href="/" class="header__a--logo">Jewish Holidays</a>
            </td>
            <td class="header__table-cell--nav">
                <table class="nav__table">
                    <tr class="nav__table-row">
                        <td class="nav__table-cell">
                            <a href="/holidays-all" class="nav__a">Holidays</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table class="body__table">
        <tr class="body__table-row">
            <td class="body__cell--sidebar">

            </td>
            <td class="body__cell--main">
            