<%- include('../partials/head') %>
<%- include('../partials/header') %>

            
            <div class="body__div">
                <form id="formHolidaySelect" action="/holidays" method="get">
                    <label for="holidaySelect">Choose a holiday:</label><br/>
                    <select id="holidaySelect" name="holiday">
                        <option value="pesach">Pesach</option>
                        <option value="shavuos">Shavuos</option>
                        <option value="roshHashanah">Rosh HaShanah</option>
                        <option value="yomKippur">Yom Kippur</option>
                        <option value="sukkos">Sukkos</option>
                        <option value="sheminiAtzeres">Shemini Atzeres</option>
                        <option value="simchasTorah">Simchas Torah`</option>
                        <option value="chanukah">Chanukah</option>
                        <option value="tuBishvat">Tu Bishvat</option>
                        <option value="purim">Purim</option>
                    </select>
                    <input type="reset" value="Reset"/>
                    <input type="submit" value="Go!">

                </form>
            </div>
            
        
<%- include('../partials/foot') %>