<%- include('../partials/head') %>
<%- include('../partials/header') %>
<table align="center" border="0" cellpadding="1" cellspacing="0" style="width:80%">
    <tbody style="text-align: center;">
        <tr>
            <td>
                <div>
                    <form id="formHolidaySelect" action="/holidays" method="get">
                        <label for="holidaySelect">Choose a holiday:</label>
                        <select id="holidaySelect" name="holiday">
                            <option value="pesach">Pesach</option>
                            <option value="shavuos">Shavuos</option>
                            <option value="hoshHashanah">Rosh HaShanah</option>
                            <option value="yomkippur">Yom Kippur</option>
                            <option value="sukkos">Sukkos</option>
                            <option value="sheminiAtzeres">Shemini Atzeres</option>
                            <option value="simchasTorah">Simchas Torah`</option>
                            <option value="chanukah">Chanukah</option>
                            <option value="tuBishvat">Tu Bishvat</option>
                            <option value="purim">Purim</option>
                        </select><br/>
                        <input type="reset" value="Reset"/>
                        <input type="submit" value="Go!">

                    </form>
                </div>
            </td>
        </tr>
    </table>
</table>
<%- include('../partials/foot') %>